<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.2.xsd 
				 		http://www.springframework.org/schema/mvc 
				 		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
						http://www.springframework.org/schema/security 
						http://www.springframework.org/schema/security/spring-security-3.2.xsd">


	<context:annotation-config />
	<mvc:annotation-driven />
	<context:component-scan base-package="cn.edu.sjtu.se.dclab" />



	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760" />
	</bean>

	<!--<bean id="templateResolver"
		class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
		<property name="prefix" value="/WEB-INF/pages/templates/" />
		<property name="suffix" value=".html" />
		<property name="cacheable" value="false" />
		<property name="characterEncoding" value="UTF-8" />
		<property name="templateMode" value="LEGACYHTML5" />
	</bean>
	<bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver" />
	</bean>
	<bean class="org.thymeleaf.spring3.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
		<property name="characterEncoding" value="UTF-8" />
	</bean>-->
	
	<!-- **************************************************************** -->
	<!-- MESSAGE EXTERNALIZATION/INTERNATIONALIZATION -->
	<!-- Standard Spring MessageSource implementation -->
	<!-- **************************************************************** -->
	<!--<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>Message</value>
			</list>
		</property>
	</bean>-->
	
	<!-- **************************************************************** -->
	<!-- CONVERSION SERVICE -->
	<!-- Standard Spring formatting-enabled implementation -->
	<!-- **************************************************************** -->
	<!--
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="formatters">
			<set>
				 <bean class="cn.edu.sjtu.se.dclab.seedstarter.VarietyFormatter" />
				<bean class="cn.edu.sjtu.se.dclab.seedstarter.DateFormatter" />
			</set>
		</property>
	</bean>
	-->
	
	<!-- **************************************************************** -->
	<!-- RESOURCE FOLDERS CONFIGURATION -->
	<!-- Dispatcher configuration for serving static resources -->
	<!-- **************************************************************** -->
 	<mvc:resources location="/WEB-INF/statics/" mapping="/statics/**" />
	<mvc:resources location="/WEB-INF/scps-server/" mapping="/scps-server/**"/>
</beans>